<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Post</h1>
    <form action="/posts" method="post">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title">
        <label for="message">Message: </label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <label for="name">Name: </label>
        <input type="text" name="creater" id="name">
        <button type="submit">Submit Memory</button>
    </form>    

    <h1>Posts</h1>
    <ul>
        <% for(let i=0; i<postMessage.length; i++){ %>
            <li> <%= postMessage[i] %> </li>
        <% } %>
    </ul>
</body>
</html>